body{
    background-image: url(img/stars-publ.bmp)
}
#logo{
    height:3em;
}
header a{
    border:0;
}

.nav{
    padding-top:1.1em;
}
.nav li a{
    font-size: 1.2em;
}

.navbar-inner{
    background-image: url(img/stars.gif)
}